<div class="container mt-5">
    <h5>EDIT A PRODUCT</h5>
    <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data" >
        
  <div class="form-group">
    <label for="examplename">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1"  name="name" value="{{product.name}}">
    
  </div>
  <div class="form-group">
    <label for="examplePassword">Category</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="category" placeholder="Category" value="{{product.category}}">
  </div>
  
  <div class="form-group">
    <label for="examplePrice">Price</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="rate" placeholder="Price" value="{{product.rate}}">
  </div>

  <div class="form-group">
    <label for="exampleDescription">Description</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="description" value="{{product.description}}">
  </div>

  <div class="form-group">
    <label for="exampleImage">Image</label>
    <img src="/uploads/{{product.name}}.jpg" alt="" style="width:100px; height:auto" id="imgView">
    <input type="file" name="image" class="form-control" onchange="viewImage(event)">
  </div>
    
  <input type="submit" class="btn btn-primary" value="Update"></button>
  
</form>
</div>
<script>
  function viewImage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
  }
</script>